<header class="masthead">
  <div class="backdrop"></div>
  <div class="intro">
    <div class="prelude">
      <b class="inline-block">@TheThinkinGeek</b>
      <div class="social-media">
        <a target="_blank" href="https://twitter.com/TheThinkinGeek"><i class="fa fa-twitter fa-2x inline-block"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCInCHweDuQAAJjUayFl2aOg"><i class="fa fa-youtube-play fa-2x inline-block"></i></a>
        <a target="_blank" href="https://instagram.com/TheThinkinGeek"><i class="fa fa-instagram fa-2x inline-block"></i></a>
        <a href="mailto:thethinkingeek@gmail.com"><i class="fa fa-envelope-o fa-2x inline-block"></i></a>
      </div>
    </div>
    <h2>Omkar Kulkarni</h2>
    <ul class="list-inline targets">
      <li><a>Designer</a></li>
      <li class="divider">/</li>
      <li><a>Film Geek</a></li>
      <li class="divider">/</li>
      <li><a>Homo Webian</a></li>
    </ul>
  </div>
</header>
