<header class="masthead" id="masthead">
  <div class="backdrop" id="mastheadBackdrop"></div>
  <div class="intro" id="introText">
    <img class="logo" src="assets/img/thethinkingeek-sign.svg">
    <!-- <div class="prelude">
      <b class="inline-block">@TheThinkinGeek</b>
      <div class="social-media">
        <a target="_blank" href="https://twitter.com/TheThinkinGeek"><i class="fa fa-twitter fa-2x inline-block"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCInCHweDuQAAJjUayFl2aOg"><i class="fa fa-youtube-play fa-2x inline-block"></i></a>
        <a target="_blank" href="https://instagram.com/TheThinkinGeek"><i class="fa fa-instagram fa-2x inline-block"></i></a>
        <a href="mailto:thethinkingeek@gmail.com"><i class="fa fa-envelope-o fa-2x inline-block"></i></a>
      </div>
    </div> -->
    <h2><h4 style="font-size:0.8rem;margin:0;padding:0 5px;">Hi, I am</h4>Omkar Kulkarni
      <h4 style="font-size:0.8rem;margin:0;padding:0 5px; text-align: right;">and I am a</h4>
    </h2>
    <ul class="list-inline targets">
      <li><a >Designer</a></li>
      <li class="divider">/</li>
      <li><a>Film Geek</a></li>
      <li class="divider">/</li>
      <li><a>Homo Webian</a></li>
    </ul>
    <h3 class="simple-btn">Wanna hear a ton of Bragging?</h3>
  </div>
</header>
